body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DDDDD;
    font-size:12px;
    margin-left:5%;
    margin-right:5%;
}

h1 {
    font-family: Verdana, Helvetica, sans-serif;
    text-align:center;
}

table {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:12px;
}

#front {
    width:100%;
}

#privacy {
    padding:10px;
    float:right;
    align:right;
    width:200px;
}

#menu {height:40px;position:relative;z-index:100;font-family:arial, sans-serif;  padding-left: 20px; padding-top: 0px; background: url("../images/nav.jpg") no-repeat;overflow-y:hidden;}
#menu ul {padding:0;margin:0;list-style-type:none;}
#menu li {padding:10;float:left;position:relative; } 
#menu a, #menu a:visited {display:block;font-size:12px;text-decoration:none; height:40px; padding-top: 0px; line-height:25px; font-weight:bold; text-transform:uppercase; text-align:center; color:#666666}