<html>
  <head>
    <title> Orbital Partner Matching</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <h1> Orbital Partner Matching</h1>

    <!-- Main navigation -->
    <div id = "menu">
      <ul>
	<li> <a href="{{ home }}/nus"> Home </a></li>
	<li> <a href="{{ home }}/nuspolicy"> Privacy Policy</a></li>
	<li> <a href="{{ home }}/editprofile"> Profile </a></li>
	<li> <a href="{{ home }}/search"> Search </a></li>
	<li> <a href="{{ logout }}"> Logout </a></li>
      </ul>
    </div> 
     
     <h2>Admin</h2>
     
     <form action="/admin" method="post"> 
       <p> Select students to delete:</p>
       <div>
	 <table border='1'>
	   <tr><th> Select all <input type="checkbox" name="select_all" value="all"/></th><th>Name</th><th>Email</th></tr>
	   {% for profile in profiles %}
	   <tr><td> <input type="checkbox" name="selected" value="{{ profile.email }}"/>
	     <td>{{ profile.name }}</td>
	     <td>{{ profile.email }}</td></tr>
	   {% endfor %}
	 </table>
       </div>
       <p> <input type="submit" value="Submit">
     </form>
  </body>
</html>
