{% extends "base1.html" %}
{% block content %}     
     <h2>Search Results</h2>

       <table border='1'>
	 <tr><th width="50%">Name</th><th>Sex</th><th>FB/LinkedIn</th><th>Orbital Level</th><th>Working From</th></tr>
	 {% for profile in profiles %}
	 <tr><td>{{ profile.name }}<br> <a href="mailto:{{ profile.email }}?Subject=Orbital%20Partner%20for%20{{ level }}">{{ profile.email }}</a> <br> {{ profile.preference }}</td>
	   <td>{{ profile.sex }}</td>
	   <td>
	     {% if profile.fb_link != "" %}
	     <a href="{{ profile.fb_link }}" target="_blank"><img src="../images/facebook.png"></a>
	     {% endif %}
	     {% if profile.linkedin_link != "" %}
	     <a href="{{ profile.linkedin_link }}" target="_blank"><img height="30px" src="../images/linkedin.png"></a>
	     {% endif %}
	   </td>
	   <td>{{ level }}</td><td>{{ profile.orbital_country }}</td></tr>
	 {% endfor %}
       </table>
{% endblock %}
