<html>
  <head>
    <title> Orbital Partner Matching</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <h1> Orbital Partner Matching</h1>

    <!-- Main navigation -->
    <div id = "menu">
      <ul>
	<li> <a href="{{ home }}/nus"> Home </a></li>
	<li> <a href="{{ home }}/nuspolicy"> Privacy Policy</a></li>
	<li> <a href="{{ home }}/editprofile"> Profile </a></li>
	<li> <a href="{{ home }}/search"> Search </a></li>
	<li> <a href="{{ logout }}"> Logout </a></li>
      </ul>
    </div> 
     
     <h2>Search Results</h2>
     
     <div>
       <table border='1'>
	 <tr><th width="50%">Name</th><th>Sex</th><th>FB/LinkedIn</th><th>Orbital Level</th><th>Working From</th></tr>
	 {% for profile in profiles %}
	 <tr><td>{{ profile.name }}<br> {{ profile.email }} <br> {{ profile.preference }}</td>
	   <td>{{ profile.sex }}</td>
	   <td>
	     {% if profile.fb_link != "" %}
	     <a href="{{ profile.fb_link }}" target="_blank"><img src="../images/facebook.png"></a>
	     {% endif %}
	     {% if profile.linkedin_link != "" %}
	     <a href="{{ profile.linkedin_link }}" target="_blank"><img height="30px" src="../images/linkedin.png"></a>
	     {% endif %}
	   </td>
	   <td>{{ profile.orbital_level }}</td><td>{{ profile.orbital_country }}</td></tr>
	 {% endfor %}
       </table>
     </div>
  </body>
</html>
