<html>
  <head>
    <title> Orbital Partner Matching</title>
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
  </head>
  <body>
    <h1> Orbital Partner Matching</h1>

    <!-- Main navigation -->
    <div id = "menu">
      <ul>
	<li> Home &nbsp&nbsp&nbsp</li>
	<li> Privacy Policy &nbsp&nbsp&nbsp</li>
	<li> Login &nbsp&nbsp&nbsp</li>
      </ul>
    </div> <!-- Main navigation -->

    <img id = "front" title = "Atlantis and Columbia. Image from NASA" src="../images/pair.jpg">
  </body>
</html>
